@{
    ViewBag.Title = "ISPC History Analysis Single Line Defect View";
}
@section scripts{
    <script src="@Url.Content("~/Scripts/Basic/HighchartsThemes/highcharts-3d.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Basic/HighchartsThemes/drilldown.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ViewModel/HAAOI/HAAOIDefectView.js")" type="text/javascript"></script>
}
<div id="firstDiv">
</div>
<div class="container" style="background: #fff;">
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-warning form-control" data-toggle="modal" data-target="#DefectModel">
                <strong>Filling The Condition</strong></button>
        </div>
    </div>
    <div class="row" style="margin-top:15px;">
        <div class="col-md-6 col-sm-6">           
            <div style="width: 100%; height: 300px;" id="DefectPieChart">
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            
            <div  style="width: 100%; height: 300px;border: 2px solid #EBBA95;" id="ResultList">
                <center><strong><h4>Result Overview</h4></strong></center>
                <ul class="list-unstyled">
                    <li class="dfresult">&nbsp;&nbsp;ModelName:&nbsp;&nbsp;&nbsp;&nbsp;<span data-bind="text: selectedModelTable()?selectedModelTable().Model_Name : 'unknown'"></span></li>
                    <li class="dfresult">&nbsp;&nbsp;Start:&nbsp;&nbsp;&nbsp;&nbsp;<span data-bind="text: sStartTime"></span></li>
                    <li class="dfresult">&nbsp;&nbsp;To:&nbsp;&nbsp;&nbsp;&nbsp;<span data-bind="text: sEndTime"></span></li>
                    <li class="dfresult">&nbsp;&nbsp;Total Panel Counts:&nbsp;&nbsp;&nbsp;&nbsp;<span data-bind="text: DefectViewDataCollection.TotalPanelCounts"></span></li>
                    <li class="dfresult">&nbsp;&nbsp;Good Panel Counts:&nbsp;&nbsp;&nbsp;&nbsp;<span data-bind="text: DefectViewDataCollection.GoodPanelCounts"></span></li>
                    <li class="dfresult">&nbsp;&nbsp;FalseCall Panel Counts:&nbsp;&nbsp;&nbsp;&nbsp;<span data-bind="text: DefectViewDataCollection.FalseCallPanelCounts"></span></li>
                    <li class="dfresult">&nbsp;&nbsp;NG Panel Counts:&nbsp;&nbsp;&nbsp;&nbsp;<span data-bind="text: DefectViewDataCollection.NGPanelCounts"></span></li>
                    <li class="dfresult">&nbsp;&nbsp;Total Defect Component Counts:&nbsp;&nbsp;&nbsp;&nbsp;<span data-bind="text: DefectViewDataCollection.TotalDefectCompCounts"></span></li>
                </ul>
            </div>   
        </div>
    </div>  
    <div class="row" style="margin-top: 15px;">
        <div class="col-md-6">
            <fieldset>
                <legend>Top 10 Defect Component</legend>
                <div style="width: 100%; height: 300px;" id="ComponentContainer">
                </div>
            </fieldset>
        </div>
        <div class="col-md-6">
            <fieldset>
                <legend>Top 5 Defect Feeder</legend>
                <div style="width: 100%; height: 300px;" id="FeederContainer">
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row" style="margin-top: 15px;">
        <div class="col-md-12">
            <fieldset>
                <legend>Top 10 Defect Algorithm</legend>
                <div style="width: 100%; height: 300px;" id="AlgorithmContainer">
                </div>
            </fieldset>
        </div>        
    </div>
    <div class="row" style="margin-top:15px;">
        <div class="col-md-12">
            <fieldset>
                <legend>Top 10 Defect PartNumber</legend>
                <div style="width: 100%; height: 300px;" id="PartNumberContainer">
                </div>
            </fieldset>
        </div>
    </div>
</div>

<!--Model-->
<div class="modal fade" id="DefectModel" tabindex="-1" role="dialog" aria-labelledby="DefectModelLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="DefectModelLabel">Condition</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
        <div class="row" style="margin: 0;">
            <div class="col-md-4" style="border: 1px solid #53555C; background-color: #fff;">
                <div class="form-group" style="margin-bottom: 5px; margin-top: 5px;">
                    <label class="" for="availableBuildings">
                        Buildings</label>
                    <select data-bind="options: availableBuildings, 
                                optionsValue: 'Building_Id',
                                optionsText: 'Building_Name',
                                value: selectedBuildingTable,
                                optionsCaption: 'Choose Building...',event: {change: loadSegments}" class="form-control input-sm"
                        id="availableBuildings">
                    </select>
                </div>
                <div class="form-group" style="margin-bottom: 5px;">
                    <label class="" for="availableSegments">
                        Segments</label>
                    <select data-bind="options: availableSegments, 
                                optionsValue: 'Segment_Id',
                                optionsText: 'Segment_Name',
                                value: selectedSegmentTable,
                                optionsCaption: 'Choose Segment...', event: {change: loadLines}" class="form-control input-sm"
                        id="availableSegments">
                    </select>
                </div>
                <div class="form-group" style="margin-bottom: 5px;">
                    <label class="" for="availableLines">
                        Lines</label>
                    <select data-bind="options: availableLines, 
                                optionsValue: 'Line_Id',
                                optionsText: 'Line_Name',
                                value: selectedLineTable,
                                optionsCaption: 'Choose Line...', event: {change: loadAOIStations}" class="form-control input-sm"
                        id="availableLines">
                    </select>
                </div>
                <div class="form-group" style="margin-bottom: 5px;">
                    <label class="" for="availableAOIStations">
                        AOI Station</label>
                    <select data-bind="options: availableAOIStations,                                 
                                optionsText: 'Station_Name',
                                value: selectedAOIStationTable,
                                optionsCaption: 'Choose Station...'" class="form-control input-sm" id="availableAOIStations">
                    </select>
                </div>
            </div>
            <div class="col-md-8" style="border: 1px solid #53555C; background-color: #fff;">
                <div class="form-group" style="margin-bottom: 5px; margin-top: 25px;">
                    <div class="input-group date datetimepicker input-group-sm">
                        <span class="input-group-addon">Start:</span>
                        <input type="text" class="form-control" id="StartTime" placeholder="Start Time" />
                    </div>
                </div>
                <div class="form-group" style="margin-bottom: 32px;">
                    <div class="input-group date datetimepicker input-group-sm">
                        <span class="input-group-addon">End:&nbsp;</span>
                        <input type="text" class="form-control" id="EndTime" placeholder="End Time" />
                    </div>
                </div>
                <div class="form-group" style="margin-bottom: 5px;">
                    <label class="" for="availableProjects">
                        Project</label>
                    <select data-bind="options: availableProjects,   
                                optionsText: 'Project_Name',
                                value: selectedProjectTable,                                                            
                                optionsCaption: 'Choose Project...', event: {change: loadModels}" class="form-control input-sm" id="availableProjects">
                    </select>
                </div>
                <div class="form-group" style="margin-bottom: 8px;">
                    <label class="" for="availableModels">
                        AOI Model</label>
                    <select data-bind="options: availableModels,   
                                optionsText: 'Model_Name',
                                value: selectedModelTable,                                                            
                                optionsCaption: 'Choose Model...'" class="form-control input-sm" id="availableModels">
                    </select>
                </div>
            </div>
        </div>        
    </div>    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="SaveDefectDialog" data-bind="click: clickSaveChange">Save changes</button>
      </div>
    </div>
  </div>
</div>
