@{
    ViewBag.Title = "ISPC History Analysis";
}
<div class="container" style="background:#fff;">
    <div class="row" style="margin-top:50px;">
        <div class="col-md-4" style="height:140px;" >
            <div style="width: 128px; float: left;">
                <img class="img-thumbnail" alt="Index" src="../../Images/Icon/IndexSPI.png" />
            </div>
            <div style="margin-left: 140px;">
                <h3>
                    <a href="../HASPI/Overview" target="_blank">Index</a></h3>
                <p>
                    Customized charts by Flex. Contains.....</p>
            </div>
        </div>
        <div class="col-md-4" style="height:128px;" >
             <div style="width: 128px; float: left;">
                <img class="img-thumbnail" alt="singleDV" src="../../Images/Icon/singleYV.png" />
            </div>
            <div style="margin-left: 140px;">
                <h3>
                    <a href="../HASPI/YieldView" target="_blank">Single Yield View</a></h3>
                <p>
                    Yield data by Time and Model.</p>
            </div>
        </div>
        <div class="col-md-4" style="height:140px;">
             <div style="width: 128px; float: left;">
                <img class="img-thumbnail" alt="singleDV" src="../../Images/Icon/singleDV.png" />
            </div>
            <div style="margin-left: 140px;">
                <h3>
                    <a href="../HASPI/DefectView" target="_blank">Single Defect View</a></h3>
                <p>
                    Defect pad style by Component Name or Defect type.</p>
            </div>
        </div>
    </div>
    
     <div class="row" style="margin-top:50px;">        
        <div class="col-md-4" style="height:140px;">
             <div style="width: 128px; float: left;">
                <img class="img-thumbnail" alt="singleDV" src="../../Images/Icon/multiYV.png" />
            </div>
            <div style="margin-left: 140px;">
                <h3>
                    <a href="../HASPI/MultiYieldView" target="_blank">Multi Yield View</a></h3>
                <p>
                    Compare yield data with multiple line. </p>
            </div>
        </div>
        <div class="col-md-4" style="height:140px;">
             <div style="width: 128px; float: left;">
                <img class="img-thumbnail" alt="singleDV" src="../../Images/Icon/multiDV.png" />
            </div>
            <div style="margin-left: 140px;">
                <h3>
                    <a href="../HASPI/MultiDefectView" target="_blank">Multi Defect View</a></h3>
                <p>
                    Compare defect data with multiple line.</p>
            </div>
        </div>
    </div>
<br />
<br />
</div>
