<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ISPC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --><!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --><!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=172.31.120.8,1433\DMNNT071;Initial Catalog=ISPC;User Id=admin;Password=833fact.1;" providerName="System.Data.SqlClient" />
    <add name="ISPCEntities" connectionString="metadata=res://*/EntityFramework.ISPC.csdl|res://*/EntityFramework.ISPC.ssdl|res://*/EntityFramework.ISPC.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=172.31.120.8,1433\DMNNT071;Initial Catalog=ISPC;User Id=admin;Password=833fact.1;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;"
    providerName="System.Data.EntityClient" />-->
    <add name="DefaultConnection" connectionString="Data Source=DMNM1112\SQLEXPRESS;Initial Catalog=ISPC;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="ISPCEntities" connectionString="metadata=res://*/EntityFramework.ISPC.csdl|res://*/EntityFramework.ISPC.ssdl|res://*/EntityFramework.ISPC.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DMNM1112\SQLEXPRESS;initial catalog=ISPC;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="MiniProfiler" path="mini-profiler-resources/*" verb="*" type="System.Web.Routing.UrlRoutingModule" resourceType="Unspecified" preCondition="integratedMode" />
      </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MiniProfiler" publicKeyToken="b44f9351044011a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.140" newVersion="3.1.1.140" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <elmah>
    <!--
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on remote access and securing ELMAH.
    -->
    <security allowRemoteAccess="false" />
  </elmah>
  <location path="elmah.axd">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
      <!-- 
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on using ASP.NET authorization securing ELMAH.

      <authorization>
        <allow roles="admin" />
        <deny users="*" />  
      </authorization>
      -->
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>
  <applicationSettings>
    <ISPC.Properties.Settings>
      <setting name="SPI" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="SPI_Panel_Result_Good" serializeAs="String">
        <value>Good</value>
      </setting>
      <setting name="AOI" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="RealTimePanelsNum" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="SPIFPYLCL" serializeAs="String">
        <value>95</value>
      </setting>
      <setting name="SPIDPPMUCL" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="AOIFPYLCL" serializeAs="String">
        <value>90</value>
      </setting>
      <setting name="AOIFPPMUCL" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="AOIDPPMUCL" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="SPIVLSL" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="SPIVUSL" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="SPIVLCL" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="SPIVUCL" serializeAs="String">
        <value>130</value>
      </setting>
      <setting name="SPIHLSL" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SPIHUSL" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SPIHLCL" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SPIHUCL" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SPIAUSL" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="SPIALSL" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="SPIAUCL" serializeAs="String">
        <value>130</value>
      </setting>
      <setting name="SPIALCL" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="SPIXOUSL" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SPIXOLSL" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SPIXOLCL" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SPIXOUCL" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SPIYOUSL" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SPIYOLSL" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SPIYOLCL" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SPIYOUCL" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SPIExcessive" serializeAs="String">
        <value>Excessive</value>
      </setting>
      <setting name="SPIInsufficient" serializeAs="String">
        <value>Insufficient</value>
      </setting>
      <setting name="SPIShape" serializeAs="String">
        <value>Shape</value>
      </setting>
      <setting name="SPIPosition" serializeAs="String">
        <value>Position</value>
      </setting>
      <setting name="SPIBridging" serializeAs="String">
        <value>Bridging</value>
      </setting>
      <setting name="SPIUpperHeight" serializeAs="String">
        <value>UpperHeight</value>
      </setting>
      <setting name="SPILowerHeight" serializeAs="String">
        <value>LowerHeight</value>
      </setting>
      <setting name="SPIHighArea" serializeAs="String">
        <value>HighArea</value>
      </setting>
      <setting name="SPILowArea" serializeAs="String">
        <value>LowArea</value>
      </setting>
      <setting name="SPISmear" serializeAs="String">
        <value>Smear</value>
      </setting>
      <setting name="SPISuccess" serializeAs="String">
        <value>Good</value>
      </setting>
      <setting name="SPI_Panel_Result_NG" serializeAs="String">
        <value>NG</value>
      </setting>
      <setting name="SPI_Panel_Result_Pass" serializeAs="String">
        <value>Pass</value>
      </setting>
      <setting name="SPI_Panel_Result_Warn" serializeAs="String">
        <value>Warn</value>
      </setting>
      <setting name="AOIPanelResult_Good" serializeAs="String">
        <value>Good</value>
      </setting>
      <setting name="AOIPanelResult_DF" serializeAs="String">
        <value>DummyFault</value>
      </setting>
      <setting name="AOIPanelResult_Repaired" serializeAs="String">
        <value>Repaired</value>
      </setting>
      <setting name="AOIPanelResult_Failed" serializeAs="String">
        <value>Failed</value>
      </setting>
    </ISPC.Properties.Settings>
  </applicationSettings>
</configuration>
